{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{#
/**
 * @file
 * MYSITE theme implementation to display a single page.
 *
 * Note that only parts of the parent templare are overridden.
 * @see https://twig.symfony.com/doc/2.x/tags/extends.html
 */
#}

{% block head %}
  {% if page.secondary_menu or page.top_header or page.top_header_form %}
    <nav{{ navbar_top_attributes }}>
      {% if container_navbar %}
      <div class="container">
        {% endif %}
        {{ page.secondary_menu }}
        {{ page.top_header }}
        {% if page.top_header_form %}
          <div class="form-inline navbar-form float-right">
            {{ page.top_header_form }}
          </div>
        {% endif %}
        {% if container_navbar %}
      </div>
      {% endif %}
    </nav>
  {% endif %}
  <nav{{ navbar_attributes }}>
    {% if container_navbar %}
    <div class="container">
      {% endif %}
      {{ page.header }}
      {% if page.primary_menu or page.header_form %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="CollapsingNavbar">
          {{ page.primary_menu }}
          {% if page.header_form %}
            <div class="form-inline navbar-form float-right">
              {{ page.header_form }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if sidebar_collapse %}
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
      {% endif %}
      {% if container_navbar %}
    </div>
    {% endif %}
  </nav>
{% endblock %}

{% block content %}
  <div id="main" class="{{ container }}">
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main{{ content_attributes }}>
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </section>
      </main>
      {% if page.sidebar_first %}
        <div{{ sidebar_first_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}
      {% if page.sidebar_second %}
        <div{{ sidebar_second_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="{{ container }}">
    {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
      <div class="site-footer__top clearfix">
        {{ page.footer_first }}
        {{ page.footer_second }}
        {{ page.footer_third }}
        {{ page.footer_fourth }}
      </div>
    {% endif %}
    {% if page.footer_fifth %}
      <div class="site-footer__bottom">
        {{ page.footer_fifth }}
      </div>
    {% endif %}
  </div>
{% endblock %}
