{#
/**
 * @file
 * Button component.
 *
 * Renders a link styled as a button when "url" is provided, or a button
 * element otherwise. The "content" slot overrides the "label" prop.
 */
#}
{% set button_classes = ['button', modifier ? 'button--' ~ modifier : '']|join(' ')|trim %}
{% set button_content %}{% block content %}{{ label }}{% endblock %}{% endset %}
{% if url %}
  <a href="{{ url }}"{{ attributes.addClass(button_classes) }}>{{ button_content }}</a>
{% else %}
  <button type="button"{{ attributes.addClass(button_classes) }}>{{ button_content }}</button>
{% endif %}
